**/.DS_Store
github-search/node_modules/*
simplified-elastic-stack/
Crawler/.idea/Crawler.iml
Crawler/.idea/inspectionProfiles/profiles_settings.xml
Crawler/.idea/misc.xml
Crawler/.idea/modules.xml
Crawler/.idea/vcs.xml
Crawler/crawler.py
Crawler/crawler.py
Crawler/crawler.py
Crawler/crawler.py
